@model IPagedList

<nav>
    <ul class="pagination justify-content-center">
        @for (var i = 1; i < Model.TotalPages + 1; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active": "")">
                <a class="page-link" asp-action="@Model.ReferenceAction"
               asp-route-ps="@Model.PageSize"
               asp-route-page="@i"
               asp-route-q="@Model.Query">
                    @i
                </a>
            </li>
        }
    </ul>
</nav>